.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: var(--spacing-2);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
}

.inputField {
  width: 100%;
  height: var(--input-height);
  padding: var(--spacing-3) var(--spacing-4);
  border: var(--border-width-base) solid var(--color-border);
  border-radius: var(--border-radius-md);
  transition: border-color var(--transition-speed) ease;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  color: var(--color-text-primary);
  background-color: var(--color-surface);
}

.inputField:focus {
  border-color: var(--color-primary);
  outline: none;
}
